body 
{
    font-family: 'PT Sans', sans-serif;
}

#heading
{
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

#heading .fas
{
    font-size: 40px;
}

#box-portfolio hr
{
    margin: 40px auto 10px;
    border-top: 5px solid #f00;
    opacity: 1 !important;
    text-align: center;
    width: 60%;
}

#portfolio
{
    text-align: center;
}

#portfolio .fa-camera
{
    background-color: #fff;
    color: #3f51b5;
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 30px;
    padding: 0 5px;
}

#portfolio .portfolio-link
{
    display: block;
    position: relative;
    max-width: 400px;
    margin: 10px auto;
}

#portfolio .portfolio-link img 
{
    height: 250px;
    width: 500px;
}

.portfolio-link .caption
{
    background-color: rgba(63,81,181,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
}

.portfolio-link .caption:hover
{
   opacity: 0;
}

.portfolio-link .caption-content
{
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 70px;
    text-align: center;
    top: 50%;
    color: white;
    margin-top: -50px;
}

#contact-box h2 
{
    margin-top: 50px;
    margin-bottom: 30px;
}

#contact-box hr 
{
    margin: 0 auto;
    border-top: 5px solid #f00;
    opacity: 1 !important;
    text-align: center;
    width: 60%;
}

#contact-box .fas 
{
    background-color: #fff;
    color: #3f51b5;
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 30px;
    padding: 0 5px;
}

#contact-box h4 
{
    color: #3f51b5;
}

#row-contact
{
    background-color: #efefef;
    padding: 20px;
    border-radius: 20px;
}

#maps
{
   margin-top: 20px;
   height: 500px;
   width: 100%;
}

.form-group label
{
    display: block;
    margin-bottom: 5px;
}

.form-group
{
    margin-top: 20px;
}

.form-group textarea
{
    width: 100%;
    resize: none;
}

.form-group label 
{
    font-weight: 600;
    color: #3f51b5;
}

.form-group input, textarea
{
    outline: none !important;
    border: none;
}

.form-group .btn
{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    transform: translateX(150%);
    background-color: #3f51b5;
    border: none;
    outline: none;
}

.popup
{
    height: 250px;
    width: 350px;
    background-color: #fefefe;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}

.open-popup
{
    visibility: visible;
    top: 85%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img 
{
    width: 75px;
    height: 75px;
    margin-top: -40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2 
{
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button 
{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

footer
{
    margin-top: 50px;
    background-color: rgb(63,81,181);
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 20px;
}


@media only screen and (max-width: 920px)
{
    #maps
    {
        height: 400px;
        margin-bottom: 20px;
    }

    .form-group .btn 
    {
        transform: translateX(100%);
    }
}